<div class="main">
    <div class="form">
        <label for="input_obj_fxn">Objective Function</label><br/>
        <input id="input_obj_fxn" type="text" ng-model="inputOF" ng-disabled="isOFDefined">
        <button ng-click="defineObjFxn()" ng-hide="isOFDefined">DEFINE OBJECTIVE FUNCTION</button>
        <button ng-click="removeObjFxn()" ng-show="isOFDefined">CHANGE OBJECTIVE FUNCTION</button>
        <br/>
        <div ng-show="isOFDefined">
            <form>
                <input id="input_min" type="radio" ng-model="minMax" value="min">
                <label for="input_min">Minimization</label>

                <input id="input_max" type="radio" ng-model="minMax" value="max">
                <label for="input_max">Maximization</label>
            </form><br/>
            <label>{{disclaimerString}}</label>
        </div><br/>
        <div ng-show='minMax != "none"'>
            <label for="input_new_constraint">Add Constraint</label><br/>
            <input id="input_new_constraint" type="text" ng-model="inputConstraint">
            <button ng-click="addConstraint()">ADD CONSTRAINT</button><br/>
            <button ng-click="getInputs()">SEND</button><br/>
        </div>
        <label>Objective function</label>
        <ul>
            <li ng-repeat="variable in objFxn.variableList">
                {{variable}} = {{objFxn.valuesList[$index]}}
            </li>
        </ul>
        <label>List of Constraints</label><br/>
        <ul>
            <li ng-repeat="slack in constraint.slackList">
                slack var = {{slack}} and
                constraint objects = {{constraint.constraintsList[$index].toString()}}
            </li>
        </ul>
    </div>
</div>
